* {
    box-sizing: border-box;
}

.p1 {
    background-color: #60C4BF;
    height: 100vh;
}

ul a {
    text-decoration: none;
    /* removes underline */
    color: inherit;
    /* removes blue color */
    text-decoration: underline;
}
span {
    color:chocolate;
}

.homebutton ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    letter-spacing: +0.6px;
}

.backbutton ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15.5px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    letter-spacing: +0.6px;
}

.p2 {
    padding-top: 5px;
    padding-bottom: 46px;
    text-align: center;
}

.p2 img {
    width: 105px;
}

.p3 {
    background-color: white;
    /* min-height: 250px; */
    border-radius: 25px;
    height: 64%;
    width: 79.5%;
    display: grid;
    place-items: center;
    margin: 0px auto;
    padding-top: 2%;
    padding-bottom: 23%;
    text-align: center;
}

.p3 h2 {
    color: #161345;
    text-align: center;
    padding-top: 30px;
    font-size: 37px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 55px;
    letter-spacing: +0.3px;
}

.p3 img {
    width: 200px;
}

li a {
    text-decoration: none;
    /* removes underline */
    color: inherit;
    /* removes blue color */
}